@import url('https://fonts.googleapis.com/css?family=BioRhyme:800&display=swap');

#tab {

    font-size: 2px;
}

#card {
    text-align: center;
    border-width: 1px;
    border-color: #FFA6A6;
    box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.008),
            0 6.7px 5.3px rgba(0, 0, 0, 0.012),
            0 12.5px 10px rgba(0, 0, 0, 0.015),
            0 22.3px 17.9px rgba(0, 0, 0, 0.018),
            0 41.8px 33.4px rgba(0, 0, 0, 0.022),
            0 100px 80px rgba(0, 0, 0, 0.03)
;
}

#button {
    background-color: #FFA6A6;
    border-color: #FFA6A6;
    font-weight: bold;
    font-size: 18px;
}

#row {
    font-family: 'Zilla Slab', serif;
    margin-top: 30px;
    justify-content: center;
}