@import url('https://fonts.googleapis.com/css?family=BioRhyme:800&display=swap');

#container-carousel {

}

#carousel {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Zilla Slab', serif;
}

#image-carousel{
    height: 500px;
}