Navbar{
    text-align: center;

}

.nav-link {
    text-align: center;
    font-family: 'News Cycle', sans-serif;
    font-size: 15px;
    color: grey;


}

#link{
    font-size: 60px;

}
#nav-link{
    text-transform: uppercase;
}


a.nav-link:hover {
    cursor: pointer;
    color: #FFA6A6;
}
#nav{
    text-align: center;
}