Navbar{
    text-align: center;

}

.nav-link {
    text-align: center;
    font-family: 'News Cycle', sans-serif;
    font-size: 19px;
    color: grey;

}

#link{
    font-size: 60px;
}

a.nav-link:hover {
    cursor: pointer;
    color: #FFA6A6;
}
#nav{
    text-align: center;
}