@import url('https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=BioRhyme:800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tinos:700&display=swap');

#text-parallax {
    width: 100%;
    height: 800px;
    font-family: 'Tinos', serif;
    font-weight: bold;
    font-size: 100px;
    font-style: normal;
    color: white;
    text-shadow: #B33636 2px 0 10px ;

}

#text-introduction {
    font-family: 'Zilla Slab', serif;
    font-size: 20px;
}

#text-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

#text-second-parallex {
    height: 500px;
    font-family: 'News Cycle', sans-serif;
    font-size: 30px;
    font-weight: bold;
}